*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/workspace.xml
logs
project/project
project/target
target
tmp
.history
dist
.idea/
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup/
*/target
metastore_db/
*.log
*.class
*.log
*.zip
*.gz
*.jpeg
*.jpg
*.png
*~
.settings/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.project
.classpath
.cache
.sbtserver.lock
